@media screen and (min-width:901px) {
  .Footer__container{
    width: 100%;
    height: auto;
    background-color: #EAF2FD;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media screen and (max-width:900px) {
  .Footer__container{
    width: 100%;
    height: auto;
    background-color: #EAF2FD;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media screen and (max-width:600px) {
  .Footer__container{
    width: 100%;
    height: auto;
    background-color: #EAF2FD;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

@media screen and (max-width:300px) {
  .Footer__container{
    width: 100%;
    height: auto;
    background-color: #EAF2FD;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}