@media screen and (min-width:901px) {
  .Form__label{
    font-weight: bolder;
    font-size: 1vw;
  }
}

@media screen and (max-width:900px) {
  .Form__label{
    font-weight: bolder;
    font-size: 1vw;
  }
}

@media screen and (max-width:600px) {
  .Form__label{
    font-weight: bolder;
    font-size: 3vw;
  }
}

@media screen and (max-width:300px) {
  .Form__label{
    font-weight: bolder;
    font-size: 4vw;
  }
}